@charset "ISO-8859-1";
.orderForm{
	text-align: center;
	max-width: 400px;
	padding: 20px 20px;
	background: #00FF00;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;form 
}

h2{
   text-align: center;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 20px;
}   

th{
	text-algin: center;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:20px;
}	

td{
	text-align:left;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}

input[type="text"], select{
	display: doubleinline-block;
	padding: 5px;
}   

input[type="submit"], input[type="reset"]{
	background: #FFFFE0;
	border: soild black;
	padding: 6px 8px 6px 8px;
	border-radius: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}	

.center{
	text-align: center;
}



	 
